@font-face {
    font-family: 'Georgia';
    src: local('Georgia Regular'), local('Georgia-Regular'),
        url('./../../assets/fonts/georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: local('Arial Regular'), local('Arial-Regular'),
        url('./../../assets/fonts/arial.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

/* body {
    position: relative;
} */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header {
    width: 100%;
    position: absolute;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-title-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.logo-title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #f1cdb3;
    padding-top: 61px;
}

.logo-subtitle {
    font-family: 'Arial', serif;
    font-size: 1.3rem;
    line-height: 115%;
    letter-spacing: 1.3px;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 2px;
}

.header__navigation {
    width: 443px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 55px;
}

.navigation__link {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
    letter-spacing: 0.05px;
    color: #cdcdcd;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    padding-bottom: 10px;
}

.navigation__link:hover,
.navigation__link_active {
    color: #fafafa;
}

.navigation__link_active::after {
    content: '';
    width: 100%;
    border-bottom: 3px solid #f1cdb3;
    position: absolute;
    top: 21px;
    left: 0;
    transition: 0.15s;
    /* top: 21px;
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out; */
}

.navigation__link_active:hover::after {
    border-bottom: 0px solid;
    transition: 0.1s;

    /* width: 0;
    transform: translateX(-50%); */
}

/* NOT ONLY */

.not-only {
    height: 908px;
    background: url(./../../assets/images/noise_transparent@2x.png),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
        #211f20;
}

.not-only__wrapper {
    display: flex;
    justify-content: space-between;
}

.not-only__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 4.4rem;
    line-height: 130%;
    color: #ffffff;
    width: 310px;
    padding-top: 344px;
}

.not-only__text {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
    color: #cdcdcd;
    width: 460px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.not-only__button {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 1px;
    color: #292929;
    width: 207px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid #f1cdb3;
    background-color: #f1cdb3;
    padding-left: 7px;
    cursor: pointer;
    transition: 0.3s;
}

.not-only__button:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
}

.large-puppy-image {
    padding-top: 180px;
}

/* ABOUT */

.about__wrapper {
    display: flex;
    justify-content: center;
}

.two-animal-image {
    padding-top: 80px;
    padding-right: 60px;
    padding-bottom: 98px;
}

.about__content {
    padding-left: 60px;
}

.about__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 2.15px;
    color: #545454;
    width: 370px;
    padding-top: 95px;
}

.about__text {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 1.5rem;
    line-height: 160%;
    color: #4c4c4c;
    width: 430px;
    padding-top: 24px;
}

.about__text:last-child {
    padding-top: 25px;
}

/* OUR FRIENDS */

.our-friends {
    background-color: #f6f6f6;
}

.our-friends__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-friends__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 3.5rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 2.1px;
    color: #545454;
    padding-top: 81px;
    padding-left: 3px;
    width: 400px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    width: 100%;
}

.slider__cards {
    display: flex;
    width: 990px;
    justify-content: space-between;
    padding-bottom: 61px;
}

.slider__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    border: 2px solid #f1cdb3;
    border-radius: 100%;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 60px;
}

.slider__arrow:hover {
    border: 2px solid #fddcc4;
    background-color: #fddcc4;
}

.slider-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border-radius: 9px;
    transition: 0.3s;
    padding: 29px 35px;
    cursor: pointer;
}

.slider-card:hover {
    background-color: #ffffff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    transition: 0.3s;
}

.slider-card__name {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 114%;
    letter-spacing: 1.25px;
    color: #545454;
    text-transform: capitalize;
    padding-top: 30px;
    padding-bottom: 31px;
    padding-left: 1px;
}

.slider-card__button {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 1px;
    color: #292929;
    width: 188px;
    height: 52px;
    border: 2px solid #f1cdb3;
    background-color: transparent;
    border-radius: 100px;
    transition: 0.3s;
    cursor: pointer;
    padding-left: 7px;
}

.slider-card__button:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
}

.our-friends__button {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 1.7rem;
    line-height: 130%;
    letter-spacing: 1px;
    color: #292929;
    width: 261px;
    height: 52px;
    border: none;
    border-radius: 100px;
    background-color: #f1cdb3;
    border: 2px solid #f1cdb3;
    margin-bottom: 100px;
    padding-top: 2px;
    padding-left: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.our-friends__button:hover {
    background-color: #fddcc4;
    border: 2px solid #fddcc4;
}

/* HELP */

.help__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.help__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #545454;
    text-align: center;
    padding-top: 81px;
    padding-left: 3px;
    width: 316px;
}

.help__list {
    width: 1030px;
    height: 281px;
    padding-top: 59px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__list_up,
.help__list_down {
    display: flex;
    width: 100%;
}

.help__list_up {
    justify-content: center;
}

.help__list_down {
    padding-top: 55px;
    justify-content: center;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-item__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 1.1px;
    color: #545454;
    padding-top: 30px;
    cursor: default;
}

.help__list_up .help-item:first-child {
    padding-right: 120px;
}

.help__list_up .help-item:nth-child(2) {
    padding-right: 121px;
}

.help__list_up .help-item:nth-child(4) {
    padding-left: 121px;
    padding-top: 2px;
}

.help__list_up .help-item:nth-child(4) .help-item__title {
    letter-spacing: 1px;
}

.help__list_up .help-item:last-child {
    padding-left: 120px;
}

.help__list_down .help-item:first-child {
    padding-right: 120px;
    padding-top: 3px;
}

.help__list_down .help-item:first-child .help-item__title {
    padding-top: 32px;
}

.help__list_down .help-item:nth-of-type(2) {
    padding-right: 60px;
}

.help__list_down .help-item:nth-of-type(3) {
    padding-left: 60px;
    padding-top: 4px;
}

.help__list_down .help-item:nth-of-type(3) .help-item__title {
    padding-top: 33px;
    letter-spacing: 1.2px;
}

.help__list_down .help-item:last-child {
    padding-left: 120px;
}

/* IN-ADDITION */

.in-addition {
    background-color: #f6f6f6;
}

.in-addition__wrapper {
    display: flex;
    justify-content: center;
}

.in-addition__image {
    padding-top: 92px;
}

.in-addition__content {
    padding-left: 30px;
    padding-top: 82px;
}

.in-addition__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #545454;
    width: 300px;
}

.in-addition__subtitle {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.9px;
    color: #545454;
    padding-top: 20px;
    padding-bottom: 20px;
}

.in-addition__text {
    width: 380px;
}

.credit-card {
    display: flex;
    align-items: center;
    width: 349px;
    height: 43px;
    background: #f1cdb3;
    border-radius: 9px;
    text-decoration: none;
    transition: 0.3s;
}

.credit-card:hover {
    background: #fddcc4;
}

.credit-card__icon {
    padding-left: 15px;
}

.credit-card__number {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 1.2px;
    color: #545454;
    padding-left: 15px;
}

.in-addition__text {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 150%;
    /* letter-spacing: ; */
    color: #b2b2b2;
    width: 380px;
    padding-top: 20px;
    padding-bottom: 101px;
}

/* FOOTER  */

.footer {
    background: url(./../../assets/images/noise_transparent@2x.png),
        radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
        #211f20;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
}

.footer-navigation__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 62px;
    height: 235px;
    width: 302px;
}

.footer-navigation__contacts:nth-child(2) {
    padding-right: 24px;
}

.footer-navigation__contacts:nth-child(2) .footer-navigation__title {
    padding-left: 1px;
}

.footer-navigation__title {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 2.1px;
    color: #ffffff;
    width: 280px;
}

.footer-navigation__logo {
    padding-top: 40px;
}

.footer-navigation__link {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 2rem;
    line-height: 115%;
    /* letter-spacing: ; */
    text-decoration: none;
    color: #f1cdb3;
}

.footer-navigation__item {
    display: flex;
    align-items: center;
}

.mail-icon {
    padding-bottom: 2px;
}

.phone-icon {
    padding-bottom: 2px;
}

.mail-link {
    padding-left: 21px;
    letter-spacing: 1.2px;
}

.phone-link {
    padding-left: 21px;
    letter-spacing: 1.2px;
    padding-bottom: 1px;
}

.pin-boston-icon {
    padding-bottom: 2px;
}

.pin-london-icon {
    padding-bottom: 2px;
}

.pin-boston-link {
    padding-bottom: 2px;
    padding-left: 21px;
    letter-spacing: 1.2px;
}

.pin-london-link {
    padding-bottom: 2px;
    padding-left: 21px;
    letter-spacing: 1.2px;
}
