.about {
    display: flex;

    &__image-container {
        display: flex;
    }

    // &__image {
    //     width: 100%;
    // }

    &__description-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 43rem;
    }

    &__title {
        span {
            display: block;
        }

        color: $color-dark-l;
        @include font-h3();
    }

    &__description {
        margin-top: 2.5rem;

        p {
            & + p {
                margin-top: 2.5rem;
            }

            color: $color-dark-xl;
            @include font-paragraph-l();
        }
    }

    .wrapper {
        padding: 8rem 21.5rem 10rem 21.5rem;

        @extend %wrapper;
    }
}
