.menu {
    display: flex;
    width: 44.3rem;

    &__list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        color: $color-dark-s;
        border-bottom: 0.3rem solid $color-transparent;
        transition-duration: 0.3s;

        &:hover {
            color: $color-light-s;
        }

        &_active {
            color: $color-light-s;
            border-bottom: 0.3rem solid $color-primary;

            &:hover {
                border-bottom: 0.3rem solid $color-transparent;
            }
        }

        @include font-menu-item();
    }
}

// HTML-template
//
// <nav class="menu">
//     <ul class="menu__list">
//         <li class="menu__item">
//             <a href="#" class="menu__link menu__link_active">
//                 About the shelter
//             </a>
//         </li>
//         <li class="menu__item">
//             <a href="#" class="menu__link">
//                 Our pets
//             </a>
//         </li>
//         <li class="menu__item">
//             <a href="#" class="menu__link">
//                 Help the shelter
//             </a>
//         </li>
//         <li class="menu__item">
//             <a href="#" class="menu__link">
//                 Contacts
//             </a>
//         </li>
//     </ul>
// </nav>
