.pets {
    background-color: $color-light-l;

    &__slider-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 40rem;
        text-align: center;

        span {
            display: block;
        }

        color: $color-dark-l;
        @include font-h3();
    }

    &__button {
        @include button_primary();
    }

    .wrapper {
        @extend %wrapper;

        flex-direction: column;
        padding: 8rem 4rem 10rem;
    }
}
