.pets {
    .wrapper {
        @extend %wrapper;
        padding: 8rem 4rem 10rem;

        @media screen and (max-width: 1279px) {
            padding: 8rem 3rem 10rem;
        }

        @media screen and (max-width: 767px) {
            padding: 4.2rem 1rem;
        }

        &_pets {
            @media screen and (max-width: 1279px) {
                padding: 8rem 3rem 7.6rem;
            }

            @media screen and (max-width: 767px) {
                padding: 4.2rem 1rem;
            }
        }
    }

    &_pets {
        margin-top: 12rem;
    }

    background-color: $color-light-l;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__title {
        text-align: center;
        color: $color-dark-l;
        @include font-h3();

        span {
            display: block;
        }

        @media screen and (max-width: 767px) {
            @include font-h3-mobile();
        }
    }

    &__button {
        @include button_primary();
    }

    &__popup {
        display: flex;
        width: 90rem;
        border-radius: 1rem;
        background-color: $color-light-s;
        cursor: auto;

        &-image {
            width: 50rem;
            height: 100%;
            border-radius: 1rem;
        }

        &-description-container {
            margin: 5rem 2rem 0 2.9rem;
        }

        &-title {
            @include font-h3();
            color: $color-popup;
        }

        &-subtitle {
            margin-top: 1rem;

            @include font-h4();
            color: $color-popup;
        }

        &-description {
            margin: 4rem 0;

            @include font-h5();
            color: $color-popup;
        }

        &-property-item {
            color: $color-primary;
            list-style: inside;
            margin-bottom: 1.1rem;
        }

        &-property {
            display: inline;

            @include font-h5();
            color: $color-popup;

            &-name {
                font-weight: bold;
                letter-spacing: 0.2rem;
            }
        }

        &-button {
            position: relative;
            left: 100%;
            @include slider-button();
            background: transparent;
        }
    }
}
