.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 6rem 0;

    @media screen and (max-width: 767px) {
        justify-content: center;
        flex-wrap: wrap;
        margin: 4.2rem 0;
    }

    &_pets {
        flex-direction: column;
        justify-content: center;
        margin: 6rem 0 0;

        @media screen and (max-width: 1279px) {
            margin: 3rem 0 0;
        }

        @media screen and (max-width: 767px) {
            margin: 4.2rem 0 0;
        }
    }

    &__arrow-button {
        @include slider-button();

        @media screen and (max-width: 767px) {
            margin: 2rem 4rem 0;

            &_left {
                order: 2;
            }

            &_right {
                order: 3;
            }
            &_left-last {
                order: 1;
            }
            &_right-last {
                order: 4;
            }
        }

        &_pets {
            @media screen and (max-width: 767px) {
                margin: 0;
            }
        }
    }

    &__index-button {
        background-color: $color-primary-light;
        box-shadow: none;
        cursor: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
        line-height: 115%;
        color: $color-dark-3xl;

        @media screen and (max-width: 767px) {
            order: 2;
        }
    }

    &__cards {
        display: flex;
        column-gap: 9rem;

        @media screen and (max-width: 1279px) {
            column-gap: 4rem;
        }

        &_pets {
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 4rem;
            row-gap: 3rem;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        border-radius: 0.9rem;
        background-color: $color-light-s;
        width: 27rem;
        cursor: pointer;
        transition-duration: 0.5s;

        &:focus,
        &:hover,
        &:active {
            background-color: $color-light-xl;
            box-shadow: $card-hover;

            // .slider__card-button {
            //     background-color: $color-primary-light;
            //     box-shadow: none;
            // }
        }

        @media screen and (max-width: 1279px) {
            &:nth-child(3) {
                display: none;
            }
        }

        @media screen and (max-width: 767px) {
            &:nth-child(2) {
                display: none;
            }
        }

        &_pets {
            @media screen and (max-width: 1279px) {
                &:nth-child(7) {
                    display: none;
                }
            }

            @media screen and (max-width: 767px) {
                &:nth-child(4),
                &:nth-child(5) {
                    display: none;
                }
            }
        }
    }

    &__card-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
    }

    &__card-image {
        width: 100%;
    }

    &__card-title {
        text-align: center;
        color: $color-dark-l;
        @include font-h4();
    }

    &__card-button {
        margin-top: 3rem;
        @include button_secondary();
    }

    &__arrow-buttons {
        display: flex;
        justify-content: center;
        column-gap: 2rem;
        margin-top: 6rem;

        @media screen and (max-width: 1279px) {
            margin-top: 4rem;
        }

        @media screen and (max-width: 767px) {
            column-gap: 1rem;
            margin-top: 4.2rem;
        }
    }
}
