%wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 128rem;
    margin: 0 auto;

    @media screen and (max-width: 1279px) {
        max-width: 76.8rem;
    }

    @media screen and (max-width: 767px) {
        max-width: 32rem;
    }
}

.header-hero-background {
    background: $start-screen-gradient-background;
}
